<!DOCTYPE html>
<html>
  <head>
    <title>lilDocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css_reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/navbar.css" type="text/css"/>
    <link rel="stylesheet" href="../../assets/splashbox.css" type="text/css"/>
    <script type="text/javascript">
      window.austinSkylineURL = "<%= image_url('austin-skyline-2.jpg') %>"
      window.docURL = "<%= image_url('doc_logo.png') %>"
      window.lilDocsURL = "<%= image_url('lil_docs_logo.png') %>"
      window.createLogoURL = "<%= image_url('createlogo.png') %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
