<!DOCTYPE html>
<html>
  <head>
    <title>lilDocs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link rel="stylesheet" href="node_modules/react-quill/dist/quill.snow.css"> %>

    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.austinSkylineURL = "<%= image_url('austin-skyline-2.jpg') %>"
      window.docURL = "<%= image_url('doc_logo.png') %>"
      window.lilDocsURL = "<%= image_url('lil_docs_logo.png') %>"
      window.createLogoURL = "<%= image_url('createlogo.png') %>"
      window.personURL = "<%= image_url('person.png') %>"
      window.gitURL = "<%= image_url('gitlogo.png') %>"
      window.linkedInURL = "<%= image_url('linkedinlogo.png') %>"
      window.fullLilDocsURL = "<%= image_url('show_logo.png') %>"
      window.blankURL = "<%= image_url('blankdoc.png') %>"
      window.t1URL = "<%= image_url('template1.png') %>"
      window.t2URL = "<%= image_url('template2.png') %>"
      window.t3URL = "<%= image_url('template3.png') %>"
      window.t4URL = "<%= image_url('template4.png') %>"
      window.t5URL = "<%= image_url('template5.png') %>"
      window.t6URL = "<%= image_url('template6.png') %>"
      window.sampleURL = "<%= image_url('sampleDocImage.png') %>"
      window.smallDocIconURL = "<%= image_url('doc-info-icon.png') %>"
      window.smallShareIconURL = "<%= image_url('doc-share-icon.png') %>"
      window.editURL = "<%= image_url('edit-button.png') %>"
      window.viewURL = "<%= image_url('view-button.png') %>"
    </script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
